<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/msg.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Create Msg</title>
</head>
<body>
    <div class="main">
        <div class="heder">
            <form action="/">
                <button class="backbtn"> <i class="fa  fa-arrow-left back"></i></button>
               
            </form>
            <h1 class="name"><%=user.name%></h1>
        </div>
        <div class="body">
            
        </div>
        <div class="msg">
            <form action="">
                <input type="text" placeholder="Message" name="msg">
                <button class="btn">send</button>
            </form>
            
        </div>
    </div>
</div>
</body>
</html>