<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All chats</title>
    <link rel="stylesheet" href="/stylesheet/index.css">
</head>

<body>
    <div class="main">
        <div class="heder">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
            <h1>WA Chats</h1>
        </div>
        <div class="box">
            <%for(user of users){%>
                <form action="/msg/<%=user.id%>/user" method="get">
                    <button class="btn">
                        <div class="account">
                            <div class="img"></div>
                            <h2 class="name">
                                <%=user.name%>

                        </div>
                    </button>
                </form>

                <%}%>
                        <form action="/new">
                            <button class="btn btnas"><i class="fa-solid fa-user-plus"></i></button>
                        </form>
               

        </div>
    </div>
</body>
</html>