<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All chats</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="main">
    <div class="heder">
        <h1>WA Chats</h1>
    </div>
    <div class="box">
    <%for(user of users){%>
        <form action="/msg/<%=user.id%>/user" method="get">
            <button class="btn">
                <div class="account">
                    <div class="img"></div>
                    <h2 class="name"><%=user.name%>
                    
                </div>
            </button>
        </form>
       
    <%}%>
</div>
</div>
</body>
</html>