<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style1.css">
    <title>Create Msg</title>
</head>
<body>
    <div class="chat">
        <form action="/new" method="post">
        <input type="text" placeholder="From" name="from">
        <textarea name="msg" id="">write msg</textarea>
        <input type="text"placeholder="to" name="to">
        <button class="btn2">Submit</button>
    </form>
    </div>
</body>
</html>